[submodule "frontend"]
	path = frontend
	url = https://github.com/wlox/wlox-frontend.git
[submodule "auth"]
	path = auth
	url = https://github.com/wlox/wlox-auth.git
[submodule "api"]
	path = api
	url = https://github.com/wlox/wlox-api.git
[submodule "backstage2"]
	path = backstage2
	url = https://github.com/wlox/backstage2.git
[submodule "cron"]
	path = cron
	url = https://github.com/wlox/wlox-cron.git
