AddDefaultCharset UTF-8
RewriteEngine on
RewriteRule ^([^/]*)-to-btc\.php$ btc_to_currency.php?currency=$1&lang=en [L]
RewriteRule ^((?!en)[a-z]*)/([^/]*)-to-btc\.php$ btc_to_currency.php?lang=$1&currency=$2 [L]
RewriteCond %{THE_REQUEST} !/[a-z]{2}/
RewriteRule ^index\.php$ index.php?lang=en&%{QUERY_STRING} [L]
RewriteRule ^((?!en)[a-z]*)/index\.php$ index.php?lang=$1&%{QUERY_STRING} [L]
RewriteRule ^order-book\.php$ order-book.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/libreta-de-ordenes\.php$ order-book.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/книга-заявок\.php$ order-book.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/订货簿\.php$ order-book.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^contact\.php$ contact.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/contacto\.php$ contact.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/связаться\.php$ contact.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/联系\.php$ contact.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^register\.php$ register.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/registro\.php$ register.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/регистрация\.php$ register.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/注册\.php$ register.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^our-security\.php$ our-security.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/nuestra-seguridad\.php$ our-security.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/наша-безопасность\.php$ our-security.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/我们的安全\.php$ our-security.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^buy-and-sell-bitcoin\.php$ buy-and-sell-bitcoin.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/comprar-y-vender-bitcoins\.php$ buy-and-sell-bitcoin.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/как-зарегистрироваться\.php$ buy-and-sell-bitcoin.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/注册\.php$ buy-and-sell-bitcoin.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^fee-schedule\.php$ fee-schedule.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/tarifas-y-comisiones\.php$ fee-schedule.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/комиссионные-сборы\.php$ fee-schedule.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/手续费\.php$ fee-schedule.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^about\.php$ about.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/nosotros\.php$ about.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/об\.php$ about.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/对于\.php$ about.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^what-are-bitcoins\.php$ what-are-bitcoins.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/que-son-los-bitcoins\.php$ what-are-bitcoins.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/что-такое-Биткойн\.php$ what-are-bitcoins.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/什么是比特币\.php$ what-are-bitcoins.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^how-bitcoin-works\.php$ how-bitcoin-works.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/como-funciona-bitcoin\.php$ how-bitcoin-works.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/как-работает-Биткойн\.php$ how-bitcoin-works.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/比特币的工作原理\.php$ how-bitcoin-works.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^reset_2fa\.php$ reset_2fa.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/reiniciar_2fa\.php$ reset_2fa.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/сброс-2fa\.php$ reset_2fa.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/复位双因素身份验证\.php$ reset_2fa.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^news\.php$ news.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/noticias\.php$ news.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/новости\.php$ news.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/消息\.php$ news.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^terms\.php$ terms.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/terminos\.php$ terms.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/условия\.php$ terms.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/条件\.php$ terms.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/sitemap\.xml$ sitemap.xml [L,QSA]