RewriteEngine on
RewriteRule ^([^/]*)-to-btc\.php$ btc_to_currency.php?currency=$1&lang=en [L]
RewriteRule ^((?!en)[a-z]*)/([^/]*)-to-btc\.php$ btc_to_currency.php?lang=$1&currency=$2 [L]
RewriteCond %{THE_REQUEST} !/[a-z]{2}/
RewriteRule ^index\.php$ index.php?lang=en&%{QUERY_STRING} [L]
RewriteRule ^((?!en)[a-z]*)/index\.php$ index.php?lang=$1&%{QUERY_STRING} [L]
RewriteRule ^order-book\.php$ order-book.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/libreta-de-ordenes\.php$ order-book.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^contact\.php$ contact.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/contacto\.php$ contact.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^register\.php$ register.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/registro\.php$ register.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^our-security\.php$ our-security.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/nuestra-seguridad\.php$ our-security.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^how-to-register\.php$ how-to-register.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/como-registrarse\.php$ how-to-register.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^fee-schedule\.php$ fee-schedule.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/tarifas-y-comisiones\.php$ fee-schedule.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^about\.php$ about.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/nosotros\.php$ about.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^what-are-bitcoins\.php$ what-are-bitcoins.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/que-son-los-bitcoins\.php$ what-are-bitcoins.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^how-bitcoin-works\.php$ how-bitcoin-works.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/como-funciona-bitcoin\.php$ how-bitcoin-works.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^reset_2fa\.php$ reset_2fa.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/reiniciar_2fa\.php$ reset_2fa.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^news\.php$ news.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/noticias\.php$ news.php?lang=$1&%{QUERY_STRING} [L,QSA]
RewriteRule ^terms\.php$ terms.php?lang=en&%{QUERY_STRING} [L,QSA]
RewriteRule ^((?!en)[a-z]*)/terminos\.php$ terms.php?lang=$1&%{QUERY_STRING} [L,QSA]